header {
  position: fixed;

  display: flex;
  align-items: center;

  padding: 1vh 0 0 1vw;
  width: 99vw;
}

header h1 {
  font-size: 1.2em;
  max-width: 15vw;
  width: fit-content;

  text-align: center;
}

header h2 {
  --width: 33vw;
  width: var(--width);

  position: absolute;
  top: 0;
  left: calc(100vw - var(--width) * 2);

  font-size: 2em;

  text-align: center;
}
