header {
  width: 98vw;
  padding: 1vh 1vw 0 1vw;

  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: inherit;
}

header h1 {
  max-width: 15vw;
  width: fit-content;

  text-align: center;

  font-size: 1.2em;
}

header h2 {
  --width: 33vw;
  width: var(--width);

  position: absolute;
  top: 0;
  left: calc(100vw - var(--width) * 2);

  font-size: 2em;
  text-align: center;
}

header .toggleTheme {
  width: 50px;

  align-self: flex-start;
  position: relative;
}

header label {
  width: 100%;
  height: 25px;

  position: absolute;

  background-color: var(--primary);
  cursor: pointer;

  border-radius: 50px;
}

header input {
  position: absolute;
  display: none;
}

header .slider {
  width: 100%;
  height: 100%;

  position: absolute;

  border-radius: 50px;
  transition: 0.3s;
}

header input:checked ~ .slider {
  background-color: var(--primary);
}

header .slider::before {
  width: 15px;
  height: 15px;

  position: absolute;
  top: 5px;
  left: 10px;

  background-color: var(--primary);

  border-radius: 50%;
  box-shadow: inset 5px 0 0 0 var(--alt);
  transition: 0.3s;
  content: "";
}

header input:checked ~ .slider::before {
  background-color: var(--alt);

  transform: translateX(20px);
  box-shadow: none;
}