.modalSection {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1%;

  height: fit-content;
  width: fit-content;
  min-width: 250px;
  min-height: 100px;

  background-color: var(--alt);
  box-shadow: 1px 1px var(--secondary);
  border-radius: 5px;

  position: fixed;

  z-index: 2;
}

.modalActions {
  display: flex;
  gap: 1em;
}

.modalBlur {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-color: var(--secondary);
  opacity: 0.4;

  z-index: 1;
}
