.tournament {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.tournamentHeader {
  font-size: 1.5em;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tournamentPlanning {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nextMatch {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planningSeparator {
  border: 1px solid black;
  height: 90%;
}

.brackets {
  height: 100%;
  margin: 0 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.round {
  display: flex;
  justify-content: flex-start;
  gap: 2em;
}

.pool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.match {
  border: 2px solid black;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;

  width: 150px;
  height: 64px;
}

.match:last-child {
  margin-bottom: 0;
}

.matchSeparator {
  width: 134px;
  height: 0;
  border: 1px solid black;
}

.vs {
  background-color: white;
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid black;
  padding: 5px;
  right: calc(0px - 16px);
  width: 32px;
  height: 32px;
}

.vs:not(:disabled):hover {
  background-color: white;
}

.vs:disabled,
.vs:disabled:hover {
  background-color: white;
  color: lightgrey;
}

.connectors {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  width: 32px;
}

.connector {
  border: 1px solid black;
  border-left: none;
  width: 16px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.connector::after {
  top: 50%;
  position: relative;
  display: block;
  right: -16px;
  width: 16px;
  content: "";
  border-top: 1px solid black;
}

.nextMatch {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.nextMatchTeam, .nextMatchVs {
  font-size: 1.5em;
}

.nextMatchScoreInput {
  font-size: 2em;
}

.nextMatchScoreInput {
  border: none;
  border-bottom: 1px solid black;
  width: 32px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  text-align: center;
}