.tournament {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.tournamentHeader {
  font-size: 1.5em;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tournamentPlanning {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brackets {
  width: 66%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextMatch {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planningSeparator {
  border: 1px solid black;
  height: 90%;
}
