@font-face {
  font-family: "Goldman";
  src: url("/fonts/Goldman-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Goldman", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 12pt;
  background-color: inherit;
}

.app[data-theme='light'] {
  --primary: #2b2d42ff;
  --secondary: #8d99aeff;
  --alt: #edf2f4ff;
  --success: #9bc53dff;
  --error: #d90429ff;
}

.app[data-theme='dark'] {
  --alt: #2b2d42ff;
  --secondary: #8d99aeff;
  --primary: #edf2f4ff;
  --success: #9bc53dff;
  --error: #d90429ff;
}

.app {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;

    letter-spacing: 2px;

    background-color: var(--alt);
    color: var(--primary);
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

button {
  padding: 5px;
  box-shadow: 1px 1px var(--primary);
  background-color: var(--alt);
  color: var(--primary);
  border: 1px solid var(--primary);
}

button:hover {
  box-shadow: none;
  background-color: var(--primary);
  color: var(--alt);
}

button:disabled {
  box-shadow: none;
  background-color: var(--alt);
  color: var(--secondary);
}

button.success {
  background-color: var(--success);
  color: var(--alt);
}

button.error {
  background-color: var(--error);
  color: var(--alt);
}

.title {
  font-size: 1.1em;
}

input {
    border: 1px solid var(--secondary);
    padding: 2px;
    background-color: inherit;
    color: inherit;
}

input::placeholder {
    color: var(--secondary);
}
