.tournamentCreation {
    width: 100vw;

    display: flex;
    justify-content: space-around;
}

.selectorDiv {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.teamsCountSelection > .selectorDiv > div {
    width: fit-content;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.teamsCountSelection label {
    text-align: center;
}

.teamsNames > .selectorDiv, .playersNames > .selectorDiv {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.teamsNames p, .playersNames p {
    text-align: center;
}

.teamsNames input, .playersNames input {
    padding: 1px;
}

.tournamentSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}