.tournamentCreation {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.teamsCountSection {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.teamsCountSelection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    gap: 5px;
}

.teamsCountSelection label {
    text-align: center;
}

.teamsNames {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.teamsNames p {
    text-align: center;
}

.teamsNames input {
    padding: 1px;
}